<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickChat</title>
    <link rel="shortcut icon" href="../Images/logo.jpg" type="image/x-icon">
</head>
<body>
    <section class="chat_section">
        <div class="brand">
            <img src="images/logo.jpg" alt="">
            <h1>QuickChat</h1>
        </div>
        <div class="msg_area"></div>
        <div>
            <input type="text" id="msg" placeholder="Type a message">
        </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/client.js"></script>
    
</body>
</html>